<mat-card style="margin: 15px;" class="mat-elevation-z15" fxFlex fxLayoutAlign="space-between" fxLayout="column">
  <mat-card-header>
    <mat-card-title>Announcement Request</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="space-between" fxFlex>
    <button mat-icon-button (click) = 'displayCreateAnnouncement()' >
      <mat-icon >add_circle</mat-icon>
    </button>
      <div fxLayout="row" fxLayoutAlign="space-sevenly stretch" *ngIf="add">
          <form [formGroup]="serviceAnnouncementForm" (ngSubmit)="addDepartmentAnnouncement()" novalidate   >   
            <fieldset fxLayout="row" fxLayoutAlign="space-evenly stretch">
              <legend>Make an Announcement</legend>
              <mat-form-field>    
                  <mat-select placeholder="Department" formControlName="departmentId" autofocus>
                    <mat-option *ngFor="let department of departments" [value]="department.id">
                      <span>{{ department.departmentName }}</span>
                    </mat-option>
                  </mat-select>  
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Subject"  class="form-control" formControlName="subject">
                </mat-form-field>    
                <mat-form-field>
                    <textarea matInput placeholder="Message" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="5" formControlName="message"></textarea>      
                </mat-form-field>    
                <mat-form-field>
                    <input matInput [matDatepicker]="validDate" placeholder="Valid Until" class="form-control" formControlName="validUntil">
                    <mat-datepicker-toggle matSuffix [for]="validDate"></mat-datepicker-toggle>
                    <mat-datepicker #validDate></mat-datepicker>
                  </mat-form-field>        
                <button [disabled]="serviceAnnouncementForm.invalid" type="submit"  mat-raised-button color="primary">Add Announcement
                </button>
                <button  type="button" (click) = 'cancel()'  mat-raised-button color="warn">
                  Cancel
                </button>     
            </fieldset>
          </form>
      </div>
    <div>
        <mat-accordion>
            <mat-expansion-panel  *ngFor="let department of departments">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ department.departmentName }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ department.announcements.length }} Active Announcements
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="row" fxLayoutAlign="space-evenly">
                  <mat-table fxFill fxLayout="column" class="m-t-20" #table [dataSource]="department.announcements" matSort>
                
                      <!-- Subject Column -->
                      <ng-container matColumnDef="subject">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
                          <mat-cell *matCellDef="let announcement"> 
                              {{ announcement.subject}}
                          </mat-cell>
                      </ng-container>
                      
                      <!-- Message Column -->
                       <ng-container matColumnDef="message" > 
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
                              <mat-cell *matCellDef="let announcement"> 
                                  {{ announcement.message }}
                              </mat-cell>
                      </ng-container>     
                      
                      <!-- Validity Column -->
                        <ng-container matColumnDef="validity" > 
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Valid Until</mat-header-cell>
                              <mat-cell *matCellDef="let announcement"> 
                                  {{ announcement.validUntil  | date: 'mediumDate' }}
                              </mat-cell>
                      </ng-container>    
                  
                    <!-- Delete Column -->
                   <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>      
                    <mat-cell *matCellDef="let announcement">
                      <button mat-icon-button (click)="openDialog(department, announcement)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
                          
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>     
              </div>     
            </mat-expansion-panel>
          </mat-accordion>    
    </div> 
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions fxFlex>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>

