<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span>
    <!--    <img src="../assets/images/icc_logo.png" class="angular-logo"> -->
  </span> ISKCON Cultural Centre
  <span class="fill-remaining-space"></span>  
  <button mat-button [matMenuTriggerFor]="menu">My Services</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  *ngFor="let myDepartment of myDepartments" routerLink={{myDepartment.route}} [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon>{{myDepartment.icon}}</mat-icon>
      <span>{{myDepartment.departmentName}}</span>
    </button>
  </mat-menu>
  <button mat-button routerLink="login" *ngIf="!isLoggedIn">Login</button>
  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn"><mat-icon>ic_exit_to_app</mat-icon> Logout</button>
</mat-toolbar>
