<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span>
    <!--    <img src="../assets/images/icc_logo.png" class="angular-logo"> -->
  </span> ISKCON Cultural Centre
  <span class="fill-remaining-space"></span>  
  <button mat-button [matMenuTriggerFor]="menu">My Services</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  *ngFor="let myDepartment of myDepartments" 
      routerLink={{myDepartment.route}} 
      [routerLinkActive]="['active']" 
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon>{{myDepartment.icon}}</mat-icon>
      <span>{{myDepartment.departmentName}}</span>
    </button>
  </mat-menu>
  <button mat-button routerLink="login" *ngIf="!isLoggedIn">Login</button>
  <button mat-button [matMenuTriggerFor]="profileMenu">
    {{devoteeName$ | async}}
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>perm_identity</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item  (click)="onLogout()" *ngIf="isLoggedIn">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>  
  
</mat-toolbar>
