<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-form validate-form">
                <span class="temple-title p-b-10">
                    ISKCON Cultural Centre
                </span>   
                <span class="portal-title p-b-30">
                    Services Portal
                </span>                                
                <router-outlet></router-outlet>
            </div>
            <div class="login-more" style="background-image: url('../../../assets/images/prabhupada-portrait.jpg');">
            </div>
        </div>
    </div>
</div>