
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ICC</span>
    <span  *ngIf="!isLogin">
      <button mat-button routerLink="dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button routerLink="devotee">
        <mat-icon>settings</mat-icon>
        <span>Admin</span>
      </button>     
      <button mat-button routerLink="catalogue">
        <mat-icon>book</mat-icon>
        <span>Catalogue</span>
      </button>         
    </span>
    <span class="example-spacer"></span>
    <button  *ngIf="!isLogin" mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>     
  </mat-toolbar-row>
</mat-toolbar>


<ul *ngIf="!isLogin">
  <li role="presentation" class="dropdown" style="float:right">
    <a (click)="logout()" href="#" class="dropbtn">Logout</a>
  </li>
</ul>
