<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img class="img-responsive" src="assets/images/prabhupada.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="row">
      <div class="col-mat-4">
        <form *ngIf="state == 'login'">
          <h3>Register</h3>
          <mat-form-field>
            <input type="text" matInput placeholder="Legal name" #userName [formControl]="userNameFormControl">
            <mat-error *ngIf="userNameFormControl.hasError('required')">
              Username is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Spiritual Name" #userName [formControl]="userNameFormControl">
            <mat-error *ngIf="userNameFormControl.hasError('required')">
              Username is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Email Address" #userName [formControl]="userNameFormControl">
            <mat-error *ngIf="userNameFormControl.hasError('required')">
              Username is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Contact Number" #userName [formControl]="userNameFormControl">
            <mat-error *ngIf="userNameFormControl.hasError('required')">
              Username is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input type="password" matInput placeholder="Circle Leader" #password [formControl]="passwordFormControl">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br/>
          <br/>
          <button mat-raised-button (click)="Register(userName, password)">Register</button>
        </form>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>