body{
    margin: auto;
}

footer {
  background-color: rgb(81, 9, 248);

  bottom: 20px;
  width: 100%;
  text-align: center;
  -webkit-text-fill-color: white;
  }


.example-container {
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    padding: 50px;    
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
  }
  
  .fill-remaining-space {
    flex: 1 1 auto;
  }
