<form [formGroup]="addressForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <mat-form-field>
      <input matInput placeholder="Address Line1" formControlName="addressLine1">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address Line 2" formControlName="addressLine2">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Locality" formControlName="addressArea">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="City" formControlName="addressCity">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="State" formControlName="addressCountry">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="PIN" formControlName="addressPin">
    </mat-form-field>
    <button type="button" (click)="onSubmit()" mat-icon-button >
      <mat-icon>save</mat-icon>
    </button> 
  </div>
</form>