<div fxLayout="row" fxLayoutAlign="start">
        <div class="p-t-20 p-b-20 p-l-10" fxFlex="25%">
            <app-devotee-search></app-devotee-search>
        </div>
        <div fxFlex="75%" fxLayout="row" fxLayoutAlign="center">
          <div class="p-t-20 p-b-20 p-l-10">
            <p>Available Roles</p>
          <div class="p-t-20 p-b-20 p-l-10">
            <mat-divider></mat-divider>
            <p>has been assigned :</p>
          </div>
        </div>  
        </div>  
        </div>

<!-- <qrcode [qrdata]="qrCode" [size]="256" [level]="'M'"></qrcode>
<button type="button" onclick="printJS('docs/printjs.pdf')">
    Print PDF
 </button> -->