<span class="login-form-title p-b-20">
  Login to continue
</span>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <mat-input-container class="wrap-input">
      <input matInput placeholder="User" 
            formControlName="userName" required autofocus>
      <mat-error *ngIf="isFieldInvalid('userName')">
        Please inform your user name
      </mat-error>
    </mat-input-container>
  </div>
  <div>
    <mat-input-container class="wrap-input">
      <input class="input" matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="isFieldInvalid('userName')">
        Please inform your password
      </mat-error>
    </mat-input-container>
  </div>
  <div class="flex-sb-m w-full p-t-3 p-b-32">
      <a (click) = "onResetPassword()" class="txt1">
        Forgot Password?
      </a>
      <a class="txt1">
        Registration by Invitation
      </a>
  </div>                  
  <button class="login-form-btn" mat-raised-button color="primary" type="submit">
    Login <span *ngIf="spinner"><i class="fas fa-spinner fa-pulse fa-lg"></i></span></button>   
  <div class="text-center p-t-46 p-b-20">
      <span class="txt2">
        or login using your account from
      </span>
  </div>

  <div class="login-form-social flex-c-m">
      <a href="#" class="login-form-social-item flex-c-m bg2 m-r-5">
          <i class="fab fa-google" aria-hidden="true"></i>
        </a>
    <a href="#" class="login-form-social-item flex-c-m bg1 m-r-5">
      <i class="fab fa-facebook-f" aria-hidden="true"></i>
    </a>

    <a href="#" class="login-form-social-item flex-c-m bg2 m-r-5">
      <i class="fab fa-twitter" aria-hidden="true"></i>
    </a>    
    
    <a href="#" class="login-form-social-item flex-c-m bg2 m-r-5">
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </a>

    <a href="#" class="login-form-social-item flex-c-m bg2 m-r-5">
        <i class="fab fa-yahoo" aria-hidden="true"></i>
    </a>    
  </div>  

</form>


