<mat-grid-list cols="2" rowHeight="1:1">
	<mat-grid-tile>		
		<div class="image">		
			<img class="object-fit_fill" src="assets/images/prabhupada.jpg">
		</div>
	</mat-grid-tile>
	<mat-grid-tile>
		<form *ngIf="state == 'login'">
			<h3>Login</h3>
			<mat-form-field>
				<input type="text" matInput placeholder="Username" #userName [formControl]="userNameFormControl">
				<mat-error *ngIf="userNameFormControl.hasError('required')">
					Username is
					<strong>required</strong>
				</mat-error>
			</mat-form-field>
			<br/>
			<mat-form-field>
				<input type="password" matInput placeholder="Password" #password [formControl]="passwordFormControl">
				<mat-error *ngIf="passwordFormControl.hasError('required')">
					Password is
					<strong>required</strong>
				</mat-error>
			</mat-form-field>
			<br/>
			<br/>
			<button mat-raised-button (click)="login(userName, password)">Login</button>
			<button mat-raised-button (click)="redirectToRegister()">Register</button>
			<button mat-raised-button (click)="setState('reset')">Forgot password</button>
		</form>

		<form *ngIf="state == 'reset'">
			<h3>Reset Password</h3>
			<mat-form-field>
				<input matInput placeholder="Email" #email [formControl]="emailFormControl">
				<mat-error *ngIf="emailFormControl.hasError('pattern')">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
					Email is
					<strong>required</strong>
				</mat-error>
			</mat-form-field>
			<br />
			<button mat-raised-button (click)="resetPassword(email)">Reset password</button>
			<br/>
			<br/>
			<button mat-button (click)="setState(login)">Go to Login Page</button>
		</form>
	</mat-grid-tile>
</mat-grid-list>