<div class="signin-content">
    <h4>Welcome to the Temple Portal</h4>
  <mat-card>
    <mat-card-header>
        <p>Please Login to Continue</p>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-input-container class="full-width-input">
          <input matInput placeholder="User" 
                 formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please inform your user name
          </mat-error>
        </mat-input-container>
        <mat-input-container class="full-width-input">
          <input matInput type="password" placeholder="Password" 
                 formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please inform your password
          </mat-error>
        </mat-input-container>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <span *ngIf="spinner"><mat-spinner></mat-spinner></span>
      </form>
      <button mat-raised-button (click) = "onResetPassword()">Forgot Password ?</button>      
    </mat-card-content>
  </mat-card>
</div>