<div class="row">
  <div class="col-md-4">
    <form>
      <h3>Reset Password</h3>
      <mat-form-field>
          <input type="password" matInput placeholder="New  Password" #password [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <input type="password" mdInput placeholder="Confirm New Password" #confirmPassword [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <br />
			<button mat-raised-button (click)="resetPassword(password, newPassword)">Reset and login</button>
    </form>
  </div>
</div>
