<div class="signin-content">
    <h4>Change Password</h4>
  <mat-card>
    <mat-card-header>
        <p>Enter your Old & desired New passwords</p>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width-input">
          <input matInput type="password"  placeholder="Old Password"
                 formControlName="oldPassword" required>
          <mat-error *ngIf="isFieldInvalid('oldPassword')">
            Please inform your old password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="New Password" 
                 formControlName="newPassword" required>
          <mat-error *ngIf="isFieldInvalid('newPassword')">
            Please inform your desired new password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Re-enter New Password" 
                   formControlName="confirmNewPassword" required>
            <mat-error *ngIf="isFieldInvalid('confirmNewPassword')">
              Please re-inform your desired new password
            </mat-error>
          </mat-form-field>        
        <button mat-raised-button color="primary" type="submit">Submit New Password</button>
        <span *ngIf="spinner"><mat-spinner></mat-spinner></span>
      </form>
    </mat-card-content>
  </mat-card>
</div>