  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="75%">
        <p *ngIf="remainingServices.length > 0">Available Services</p>
          <mat-chip-list #chipList>
            <mat-chip color="Accent" selected="true" *ngFor="let service of remainingServices" [selectable]="selectable"
                     [removable]="removable" (remove)="addService(service)">
              {{service.serviceName}}
              <mat-icon matChipRemove *ngIf="removable">add</mat-icon>
            </mat-chip>
          </mat-chip-list>
      </div>  
      <div fxFlex="25%">
        <p *ngIf="assignedServices.length > 0">Interested Services</p>
          <mat-chip-list #chipList>
            <mat-chip color="primary"  selected="true" *ngFor="let service of assignedServices"  [selectable]="selectable"
                     [removable]="removable" (remove)="removeService(service)">
              {{service.serviceName}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
      </div>
    </div>  
    </div>