<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0" fxFlex="100%">
        <div fxFlex="25%">
          <div>
            <app-devotee-search></app-devotee-search>
            <button type = "button" mat-raised-button color="primary" (click)="addDevotee()"> Add Devotee</button>
          </div>
        </div>
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0" fxFlex="75%">
          <div fxFlex="100%">
            <app-devotee-profile></app-devotee-profile>
          </div>  
        </div>  
        </div>