<form>
  <mat-form-field class="demo-chip-list">      
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let service of assignedServices" [selectable]="selectable"
                  [removable]="removable" (remove)="remove(service)" [value]="service.id">
          {{service.serviceName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input #serviceInput placeholder="Add Service..."
        [matAutocomplete]="autoSkill"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
        [(ngModel)]="model" name="name"/>
        <mat-autocomplete #autoSkill="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)">
          <mat-option *ngFor="let service of remainingServices" [value]="service">
            <span>{{ service.serviceName }}</span>
          </mat-option>
        </mat-autocomplete>             
      </mat-chip-list>
    </mat-form-field>   
  </form>
  
  