  <mat-form-field fxFlex="100%">
    <input matInput placeholder="Search Devotee" aria-label="State" [matAutocomplete]="auto" [formControl]="devoteeSearchCtrl">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)" [displayWith]="displayFn" >
      <mat-option *ngFor="let devotee of filteredDevotees | async" [value]="devotee">
          <span>{{ devotee.spiritualName }} <small *ngIf="devotee.legalName" >| {{devotee.legalName}}</small></span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

