<!-- <mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Cards are the best</mat-card-title>
    <mat-card-subtitle>Really, they are!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://source.unsplash.com/random/800x600">
  <mat-card-content>
    <p>Something pretty...</p>
  </mat-card-content>
</mat-card> -->
<mat-card  [formGroup]="form">
    <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Cards are the best</mat-card-title>
        <mat-card-subtitle>Really, they are!</mat-card-subtitle>
      </mat-card-header>
  <mat-tab-group [selectedIndex]="0">
    <mat-tab label="Personal Details">
      <h3>Breakfast option</h3>
      <p>Toast /w peanut butter</p>
    </mat-tab>
    <mat-tab label="Contact Details">
      <h3>Lunch option</h3>
      <p>Club sandwich</p>
    </mat-tab>
    <mat-tab label="Service Availability">
      <h3>Dinner option</h3>
      <p>Lasagna</p>
    </mat-tab>
  </mat-tab-group>
</mat-card>