<div fxLayout="column" fxLayoutAlign="center">
  <div>
      <app-devotee-search></app-devotee-search>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="75%">
      <p *ngIf="remainingRoles.length > 0">Available Roles</p>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let role of remainingRoles" [selectable]="selectable"
                   [removable]="removable" (remove)="addRole(role)">
            {{role.name}}
            <mat-icon matChipRemove *ngIf="removable">add</mat-icon>
          </mat-chip>
        </mat-chip-list>
    </div>  
    <div fxFlex="25%">
      <p *ngIf="assignedRoles.length > 0">Assigned Roles</p>

        <mat-chip-list #chipList>
          <mat-chip *ngFor="let role of assignedRoles" [selectable]="selectable"
                   [removable]="removable" (remove)="removeRole(role)">
            {{role.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
    </div>
  </div>  
  </div>