
<div fxLayout="column" fxLayoutAlign="space-around center" >
    <div fxLayout="row">
        <app-devotee-search-filter></app-devotee-search-filter>
    </div>    
    <div >
        <button mat-raised-button color="accent" (click)="openQuickAddDevoteeDialog()">Add Devotee-Lite</button>
        <button mat-raised-button color="primary" (click)="openDetailedAddDevoteeDialog()">Add Devotee-Detailed</button>  
    </div>    
</div>
<div fxLayout="column">
    <div>
        <app-devotees-list (selectedDevotee)='openDevoteeDialog($event)'></app-devotees-list>
    </div>
</div>  