<!-- <form [formGroup]="devoteeForm" novalidate>  
  <fieldset class="wrap">
    <mat-input-container>
        <input matInput placeholder="Issued To" class="form-control" formControlName="owningDevoteeId" autofocus>
        <mat-error align="start" *ngIf="formErrors.owningDevoteeId">
          {{ formErrors.owningDevoteeId }}
        </mat-error>
    </mat-input-container>      

      <mat-form-field>
        <input matInput placeholder="Spiritual Name" class="form-control" formControlName="spiritualName">
      </mat-form-field>
      <mat-input-container>
          <mat-select placeholder="Gender"  class="form-control" formControlName="gender">
              <mat-option value="M">
                Male
              </mat-option>
              <mat-option value="F">
                  Female
                </mat-option>              
            </mat-select>
            <mat-error align="start" *ngIf="formErrors.gender">
                {{ formErrors.gender }}
            </mat-error>
      </mat-input-container>   
      <mat-form-field>
        <mat-select placeholder="Circle/Sector"   aria-label="State" class="form-control" formControlName="organizationId">
          <mat-option *ngFor="let org of organizationTree " [value]="org.id">
            <span>{{ ".....".repeat(org.depth) + org.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>        
      <mat-form-field>
        <input matInput placeholder="Email Address"  class="form-control" formControlName="email">
        <mat-error align="start" *ngIf="formErrors.email">
            {{ formErrors.email }}
        </mat-error>
      </mat-form-field>

      <mat-input-container>
          <input matInput placeholder="Mobile number"  class="form-control" formControlName="mobileNo">
          <mat-error align="start" *ngIf="formErrors.mobileNo">
              {{ formErrors.mobileNo }}
          </mat-error>
      </mat-input-container>          

      <mat-form-field>
        <input matInput placeholder="Landline number"  class="form-control" formControlName="landlineNo">
      </mat-form-field>                    
      <mat-form-field>
        <input matInput placeholder="PAN"  class="form-control" formControlName="incomeTaxId">
      </mat-form-field>    
    </fieldset>
</form>   



 -->