<div class="example-container">
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="25%">
    <mat-form-field>
      <input matInput placeholder="Search Devotee" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
          <span>{{ state.name }}</span> |
          <small>Population: {{state.population}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    {{diagnostic}}
  </div>
  <div class="item item-2" fxFlex="25%">
    <fieldset>
      <legend>Personal Details</legend>
      <mat-form-field>
        <input matInput placeholder="Legal First name" autofocus>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Legal Last name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Spiritual Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Circle" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
            <span>{{ state.name }}</span> |
            <small>Population: {{state.population}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-radio-group>
        <p>Gender</p>
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Gothra" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nakshatra" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Aadhar number" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Pan number" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="LPM" value="">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="DOB">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="kcpicker" placeholder="KC start date">
        <mat-datepicker-toggle matSuffix [for]="kcpicker"></mat-datepicker-toggle>
        <mat-datepicker #kcpicker></mat-datepicker>
      </mat-form-field>
    </fieldset>

  </div>
  <div class="item item-3" fxFlex="25%">
    <fieldset>
      <legend>Languages</legend>
      <mat-form-field>
        <mat-select placeholder="Mother Tounge">
          <mat-option *ngFor="let mt of motherTounges" [value]="mt.value">
            {{ mt.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </fieldset>
    <fieldset>
      <legend>Skill</legend>
      <mat-form-field>
        <input matInput placeholder="Search Skill" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
            <span>{{ state.name }}</span> |
            <small>Population: {{state.population}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </fieldset>
    <fieldset>
      <legend>Area of Interest</legend>
      <mat-form-field>
        <input matInput placeholder="Search Interest" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
            <span>{{ state.name }}</span> |
            <small>Population: {{state.population}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </fieldset>
    <fieldset>
      <legend>Service Availablity</legend>
      <table item-width="inherit">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Search Interest" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                  <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                  <span>{{ state.name }}</span> |
                  <small>Population: {{state.population}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
          <!-- <td>
            <input length=5>
          </td>
          <td>
            <input length=5>
          </td> -->
        </tr>
      </table>

    </fieldset>
  </div>
  <div class="item item-4" fxFlex="25%">
    <fieldset>
      <legend>Address Details</legend>
      <mat-form-field>
        <input matInput placeholder="Address Line1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="2">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Locality">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="PIN">
      </mat-form-field>
      <mat-checkbox>Is Permanent address same ?</mat-checkbox>
    </fieldset>
    <mat-form-field>
      <input matInput placeholder="Credit Limit">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Categiry" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
          <span>{{ state.name }}</span> |
          <small>Population: {{state.population}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <fieldset>
      <legend>Family Details</legend>
      <mat-form-field>
        <input matInput placeholder="Address Line1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="2">
      </mat-form-field>

    </fieldset>
  </div>
</div>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex fxFlexOffset.xs="0">
    <button mat-button>Create/Update</button>
    <button mat-button>Cancel</button>
  </div>
</div>
</div>