  <mat-form-field class="demo-chip-list">      
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let skill of selectedSkills" [selectable]="selectable"
                [removable]="removable" (remove)="removeSkill(skill)">
        {{skill.skillName}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add Skill..."
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="addSkill($event.value)" />          
    </mat-chip-list>
  </mat-form-field>   

