<!-- <div fxLayout="row">
  <form [formGroup]="registerForm" novalidate>  
  <div>
        <fieldset fxLayout="column" fxLayoutAlign="space-evenly stretch">
          <legend>New Registration</legend>
          <mat-form-field>
            <input fxFill matInput placeholder="Legal Name" class="form-control" formControlName="legalName" autofocus>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Spiritual Name" class="form-control" formControlName="spiritualName">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Circle"   aria-label="State" class="form-control" formControlName="circleId">
              <mat-option *ngFor="let circle of circles " [value]="circle.id">
                <span>{{ circle.name }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="Gender"  class="form-control" formControlName="gender">
                <mat-option value="M">
                  Male
                </mat-option>
                <mat-option value="F">
                    Female
                  </mat-option>              
              </mat-select>
            </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email Address"  class="form-control" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mobile number"  class="form-control" formControlName="mobileNo">
          </mat-form-field>
         </fieldset>
    </div>
  </form>     
  <div>
    <button type = "button" mat-raised-button color="primary" (click)="save()">Register</button>
    <button type = "button" mat-raised-button color="warn" (click)="reset()">Reset</button>
  </div> 

</div> -->