<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="legalName">
      <mat-header-cell *matHeaderCellDef> legalName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.legalName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="spiritualName">
      <mat-header-cell *matHeaderCellDef> spiritualName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.spiritualName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> gender </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->