<div fxLayout="row" fxLayout.xs="column">
  <fieldset fxLayout="column" fxLayoutAlign="space-sevenly stretch">  
    <legend>Roles Master</legend>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Roles">
      </mat-form-field>


    <button mat-icon-button (click) = 'displayCreateRole()' >
      <mat-icon >add_circle</mat-icon>
    </button>

    <div fxLayout="row" fxLayoutAlign="space-sevenly stretch" *ngIf="add">
    <form [formGroup]="roleForm" (ngSubmit)="addRole()" novalidate   >   
      <fieldset fxLayout="row" fxLayoutAlign="space-evenly stretch">
        <legend>Add a Role</legend>
        <mat-form-field>
          <input fxFill matInput placeholder="Role Name" class="form-control" formControlName="name" autofocus>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Role Description" class="form-control" formControlName="description">
        </mat-form-field>
        <mat-form-field>
          <mat-select  placeholder="Department" formControlName="departmentId">
              <mat-option *ngFor="let department of departments " [value]="department.id">
                <span>{{ department.departmentName }}</span>
              </mat-option>
          </mat-select>
        </mat-form-field>        
          <button [disabled]="roleForm.invalid" type="submit"  mat-raised-button color="primary">Add Role
          </button>
          <button  type="button" (click) = 'cancel()'  mat-raised-button color="warn">
            Cancel
          </button>     
      </fieldset>
      </form>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

    <!-- Name Column -->
    <ng-container matColumnDef="roleName">
      <mat-header-cell *matHeaderCellDef> Role Name </mat-header-cell>
      <mat-cell *matCellDef="let role"> 
          <app-inline-edit (done)='editNameField(role.name, role)' 
          [(ngModel)]="role.name" [required]="true" type="text" placeholder="Role Name" (keyup.enter)="editNameField($event.target.value, role)">
        </app-inline-edit> 
      </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="roleDescription">
      <mat-header-cell *matHeaderCellDef> Role Description </mat-header-cell>
      <mat-cell *matCellDef="let role">           
        <app-inline-edit (done)='editDescriptionField(role.name, role)'
          [(ngModel)]="role.description" [required]="true" type="text"  (keyup.enter)="editDescriptionField($event.target.value, role)">
        </app-inline-edit> 
     </mat-cell>
    </ng-container>


    <!-- Department Column -->
    <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
        <mat-cell *matCellDef="let role">           
          <mat-select (selectionChange) = 'editDepartmentField($event, role)'[value]="role.departmentId">
              <mat-option *ngFor="let department of departments " [value]="department.id">
                <span>{{ department.departmentName }}</span>
              </mat-option>
          </mat-select>
       </mat-cell>
      </ng-container>    


    <!-- Delete Column -->
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>      
      <mat-cell *matCellDef="let role">
        <button mat-icon-button (click) = 'deleteRole(role)' >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>    
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</fieldset>
</div>



