<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      [colspan]=3
      [rowspan]=1
      [style.background]='lightblue'>
      <mat-grid-tile-header>
          My Saadhana
      </mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="4"
      [style.background]='lightgreen'>
      <mat-grid-tile-header>
            My Service Departments
        </mat-grid-tile-header>                  
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="3"
      [rowspan]="1"
      [style.background]='lightpink'>
      <mat-grid-tile-header>
            My Messages
        </mat-grid-tile-header>               
  </mat-grid-tile>
      <mat-grid-tile
      [colspan]="3"
      [rowspan]="1"
      [style.background]='white'>
      <mat-grid-tile-header>
            My Action Required
        </mat-grid-tile-header>           
  </mat-grid-tile>      
  <mat-grid-tile
      [colspan]="3"
      [rowspan]="1"
      [style.background]='white'>
      <mat-grid-tile-header>
            Temple Announcements
        </mat-grid-tile-header>  
  </mat-grid-tile>      
</mat-grid-list>


