<div fxLayout="row wrap" fxLayoutAlign="start">
        <mat-card class="dashboard-card">
                <mat-card-header>
                        <img mat-card-avatar src="../../assets/images/departments.png">
                    <mat-card-title>My Departments</mat-card-title>
                    <mat-card-subtitle>my services</mat-card-subtitle>
                </mat-card-header>
        <!--         <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                    The list of departments I am serving...coming soon...
                    </p>
                </mat-card-content>
                <mat-card-actions>
        <!--             <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>       
    <mat-card class="dashboard-card">
        <mat-card-header>
            <img mat-card-avatar src="../../assets/images/japa.jpg">
            <mat-card-title>My Saadhana</mat-card-title>
            <mat-card-subtitle>Track Spiritual Saadhana like chanting, reading, preaching.. </mat-card-subtitle>
        </mat-card-header>
<!--         <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <p>
            Saadhana stats tool coming shortly...
            </p>
        </mat-card-content>
        <mat-card-actions>
<!--             <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
        </mat-card-actions>
    </mat-card>

 

        <mat-card class="dashboard-card">
            <mat-card-header>
                    <img mat-card-avatar src="../../assets/images/messages.png">
                <mat-card-title>My Messages</mat-card-title>
                <mat-card-subtitle>Messages from Other Departments</mat-card-subtitle>
            </mat-card-header>
    <!--         <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <p>
                The list of messages from other department leaders...coming soon...
                </p>
            </mat-card-content>
            <mat-card-actions>
    <!--             <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
            </mat-card-actions>
        </mat-card>    
        <mat-card class="dashboard-card">
            <mat-card-header>
                    <img mat-card-avatar src="../../assets/images/actions.png">
                <mat-card-title>My Tasks</mat-card-title>
                <mat-card-subtitle>Tasks assigned to me</mat-card-subtitle>
            </mat-card-header>
    <!--         <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <p>
                The tasks assigned to me by other leaders and tasks due from my department...coming soon...
                </p>
            </mat-card-content>
            <mat-card-actions>
    <!--             <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
            </mat-card-actions>                
        </mat-card>   
        <mat-card class="dashboard-card">
            <mat-card-header>
                    <img mat-card-avatar src="../../assets/images/announcements.png">
                <mat-card-title>Announcements</mat-card-title>
                <mat-card-subtitle>General Temple announcements</mat-card-subtitle>
            </mat-card-header>
    <!--         <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <p>
                All active public announcements...coming soon...
                </p>
            </mat-card-content>
            <mat-card-actions>
    <!--             <button mat-button>LIKE</button>
                <button mat-button>SHARE</button> -->
            </mat-card-actions>                
        </mat-card>                  
</div>

