<mat-grid-list [cols]="cols | async">
    <mat-grid-tile *ngFor="let card of cards"
    [colspan]="card.input.cols.value | async"
    [rowspan]="card.input.rows.value | async">
        <app-dashboard-cards-spawner [card]="card">
        </app-dashboard-cards-spawner>
    </mat-grid-tile>
</mat-grid-list>


<!-- <div fxLayout="row wrap" fxLayoutAlign="start">
    <mat-card class="dashboard-card">
        <mat-card-header>
            <img mat-card-avatar src="../../assets/images/Pink-Calendar.png">
            <mat-card-title>Temple Calendar</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

<mat-card class="dashboard-card">
        <mat-card-header>
            <img mat-card-avatar src="../../assets/images/japa.jpg">
            <mat-card-title>My Saadhana</mat-card-title>
            <mat-card-subtitle>Track Spiritual Saadhana like chanting, reading, preaching.. </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Saadhana stats tool coming shortly...
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card> 



    <mat-card class="dashboard-card">
        <mat-card-header>
            <img mat-card-avatar src="../../assets/images/messages.png">
            <mat-card-title>My Messages</mat-card-title>
            <mat-card-subtitle>Messages from Other Departments</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                The list of messages from other department leaders...coming soon...
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <img mat-card-avatar src="../../assets/images/actions.png">
            <mat-card-title>My Tasks</mat-card-title>
            <mat-card-subtitle>Tasks assigned to me</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                The tasks assigned to me by other leaders and tasks due from my department...coming soon...
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <mat-card class="dashboard-card">
        <mat-card-header>
            <img mat-card-avatar src="../../assets/images/announcements.png">
            <mat-card-title>Announcements</mat-card-title>
            <mat-card-subtitle>General Temple announcements</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                All active public announcements...coming soon...
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>                
    </mat-card>
                                  
</div>

 -->