<div fxLayout="row" >
  <div fxFlex='25%'>
      <div fxLayout="column" class="p-t-20 p-b-20 p-l-10">
          <mat-form-field fxFlex="25%">
            <input matInput placeholder="Search Role" [formControl]="roleSearchCtrl">
          </mat-form-field>  
        </div>
  </div>

  <div fxFlex="75%">
    <div fxLayout="row">
        <div class="p-t-20 p-b-20 p-l-10">
            <mat-list>
              <mat-list-item *ngFor="let role of filteredRoles | async; last as last">
                <button mat-button (click)="loadRoleTasks(role.id)">{{ role.name }}</button>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>        
              </mat-list-item>
            </mat-list> 
          </div>
          <div class="p-t-20 p-b-20 p-l-10">
              <mat-divider></mat-divider>
              <mat-selection-list>
                <mat-list-option *ngFor="let task of allTasks | async" [value]="task.id" [selected]="taskAssigned(task.id)" (selectionChange)="optionChanged($event)">
                  {{task.taskName}}
                </mat-list-option>
            </mat-selection-list>
            </div>    
    </div>
  </div>  
  </div>  

