<h1 mat-dialog-title>New LookupData</h1>
<div mat-dialog-content>
  <div *ng-if="data.selectedLookupTable.fields.length > 0">
    <mat-form-field>{{data.selectedLookupTable.fields[0].fieldDisplayName}}
      <input matInput [(ngModel)]="data.lookupItem.lookupField1">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field *ng-if="data.selectedLookupTable.fields.length > 1">
      <input matInput [(ngModel)]="data.lookupItem.lookupField2">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field *ng-if="data.selectedLookupTable.fields.length > 2">
      <input matInput [(ngModel)]="data.lookupItem.lookupField3">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field *ng-if="data.selectedLookupTable.fields.length > 3">
      <input matInput [(ngModel)]="data.lookupItem.lookupField4">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.lookupItem" cdkFocusInitial>Ok</button>
</div>
